*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

/* menu design */

#menu{
    background-color: #F9F1F0;
}

.brand-logo{
    padding: 0 10px;
}


.brand-logo img{
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.menu-items a{
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5rem 1.875rem;
    margin: 0.75rem 0;
    color: rgb(128, 129, 129);
    font-weight: 300;
}

.menu-items a:hover{
    background-color: #FADCD9;
    font-weight: 800;
}

#food-container{
    background-color: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px ;
    position: sticky;
    top: 0;
    background: #F9F1F0;
    z-index: 1;
}

::-webkit-scrollbar{
    display: none;
}

#header .address{
    font-size: 20px;
}

.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.add-box i{
    font-size: 20px;
}

.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}

.util i:active{
    color: white;
    background-color: crimson;
}

.food-items{

}

#biryani,#chicken,#paneer,#vegetable,#chinese,#south-indian{
    margin: 40px;
}

#paneer #item-card,#vegetable #item-card{
    background: rgb(218, 253, 18);
}

#chinese #item-card,#south-indian #item-card{
    background: rgb(221, 243, 243);
}

#category-name,.item-menu{
    margin: 10px;
    font-size: 35px;
    color: coral;
}

#item-card{
    
}

#cart{
    background-color: lavender;

}